@model SindicatoWeb.Models.Pago

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Recibo</title>
    <link href="~/css/printer.css" rel="stylesheet" />
    <script src="~/js/qrcode.min.js"></script>
</head>
<body onload="window.print()" onafterprint="history.back()">
    <div class="contenedor onlyPrint">
        <div style="text-align: center">
            <br />
            <h3>Sindicato de Transportes</h3>
            <br />
            <h3>Transportes Oruro</h3>

            <h1>RECIBO # @Html.DisplayFor(model => model.Numero)</h1>
        </div>

        <hr />

        <dl class="row">
            <dd class="col-sm-12">
                Fecha: @Html.DisplayFor(model => model.Fecha)
            </dd>

            <dd class="col-sm-10">
                Ci: @Html.DisplayFor(model => model.Chofer.Ci)
            </dd>
            <dd class="col-sm-10">
                Nombre: @Html.DisplayFor(model => model.Chofer.NombreCompleto)
            </dd>

            <br/>
            <dd class="col-sm-10">
                Mes: @Html.DisplayFor(model => model.Mes)
            </dd>
            <dd class="col-sm-10">
                Gestion: @Html.DisplayFor(model => model.Anio)
            </dd>
            <dd class="col-sm-10">
                Total: @Html.DisplayFor(model => model.Monto)
            </dd>
        </dl>

        <p>
            <small>@Html.DisplayFor(model => model.Usuario!.CorreoElectronico) </small>
        </p>

        <div id="qrcode"></div>

        @{
            string qr = String.Format("{0}|{1}|{2}|{3}|{4}",
                Model.Numero,
                Model.Chofer!.Ci,
                Model.Mes,
                Model.Anio,
                Model.Monto
              );
        }
    </div>

     <script>
        var qrcode = new QRCode("qrcode", {
            text: "@qr",
            width: 100,
            height: 100
        });
    </script>
</body>
</html>